header {
    background-color:#EBEBEB;
}

.logo img {
    width:5%;
}

.logo {
    display: flex;
    align-items: center;
}

#logo {
    width:50%;
    width: 140px;
    height: 70px;
    display: block;
    top: 0;
    left: 0;
    margin-right: 12px;
    background: transparent url(https://www.unicefusa.org/sites/default/files/UNICEFUSA_DIG_C.svg) no-repeat 0 0;
    
}

#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* Set a specific height */
  height: 50%;
}